.navbar{
    background: rgba(255,255,255,0);
}

.login-buttons.signed-in{
    margin-right: 18%;
    font-weight:bold;
}

.login-buttons.signed-out{
    margin-right: 15%;
    font-weight:bold;
}

.banner{
    height:600px;
    background-position: 0em -6em;
    background-image: url('./breakfast.jpg');
}

.nav-link:hover, .nav-link.active{
    color: #545354 !important;
}

.sign-in{
    margin-left: 15em;
    margin-top: 12em;
}

.sign-in-image{
    margin-top:8em;
    margin-left: 15em;
    position:relative;
    border-radius:50%;
    background-color:black;
    max-width:500px;
    min-width:500px;
    min-height:500px;
    height:500px;
    overflow:hidden;
}

img{
    position:absolute;
    max-width:100%;
    width:100%;
    min-width:500px;
    margin-top: -10em;
    transform:translateX(-0.9725em);
}

