html{
    height:100%;
    overflow-y:scroll;
}

body, #root{
    height:100%;
}

.home-body{
    overflow-x:hidden;
    height:100%;
    background-color:#FDFDFD
}
.navbar{
    background: rgba(255,255,255,0);
}

.navbar-collapse{
    justify-content: space-evenly;
}

.banner{
    position:relative;
    height:600px;
    background-position: 0em -14em;
    background-image: url('./selfie-banner.jpg');
    box-shadow: 0px 2px 3px rgba(0,0,0,0.45);
}

.logo{
    position:relative;
    display:inline-block;
    width:100%;
    background-image:url('./logo.png');
    height:200px;
    background-repeat:no-repeat;
    background-size:25em;
    background-position-x:51%;
    background-position-y:4em;
    margin:0 auto;
}
.nav-item{
    margin: 0 1em;
}
.nav-link{
    font-size: 130%;
    text-shadow: 2px 2px rgba(0,0,0,0.45);
}

.nav-link:hover, .nav-link.active{
    color: #545354 !important;
}

.login{
    margin-left: 15em;
    margin-top: 12em;
    height:350px;
}

.sign-in{
    margin-left: 15em;
    margin-top: 12em;
}

.sign-up{
    margin:3em auto;
}


.sign-in-image{
    margin-top:8em;
    margin-left: 15em;
    position:relative;
    border-radius:50%;
    background-color:black;
    max-width:500px;
    min-width:500px;
    min-height:500px;
    height:500px;
    overflow:hidden;
}

.row{
    display:flex;
    justify-content:center;
    margin-top:1em;
}

.col{
    display:flex;
    justify-content:center;
    max-width:400px;
}

img{
    position:absolute;
    max-width:100%;
    width:100%;
    min-width:500px;
    margin-top: -10em;
    transform:translateX(-0.9725em);
}

.card.category{
    width:360px;
    height:256px;
    position:relative;
    overflow:hidden;
}

.card.category:hover{
    box-shadow: 0px 2px 3px rgba(0,0,0,0.45);
}

.home-title{
    margin-top:1em;
}

.category-link{
    position:relative;
    width:100%;
    height:100%;
}

.gaming-img{
    position:absolute;
    max-width:100%;
    height:auto;
    transform:scale(0.72);
    top:32%;
    left:-20%;
}
.movie-img{
    position:absolute;
    max-width:100%;
    height:auto;
    transform:scale(0.75);
    top:31%;
    left: -20%;
}

.music-img{
    position:absolute;
    max-width:100%;
    height:auto;
    transform:scale(0.75);
    top:22%;
    left: -20%;
} 

.book-img{
    position:absolute;
    max-width:100%;
    height:auto;
    transform:scale(0.75);
    top: 42%;
    left:-20%;
}

.card-body{
    position:absolute;
    bottom:-16px;
    left:35%;
}
.gaming-title{
    position:relative;
}

.movie-title{
    position:relative;
}

.music-title{
    position:relative;
}

.book-title{
    position:relative;
}

a,a:link,a:visited,a:hover,a:active{
    color:black;
}

.input-group{
    position:relative;
}

.search{
    display:inline-block;
    margin: 0 auto;
    width:700px;
    border:none;
    outline:none;
    border-radius:5px;
    line-height:2.3em;
    padding-left:1em;
    padding-right:1em;

}

.search:focus{
    border:none;
    outline:none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.45);
}

.title-container{
    position:relative;
    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content:flex-start;
}

.title{
    position:relative;
    display:inline-block;
    left:23%;
    min-width:300px;
    width:300px;
    height:300px;
}

.title img{
    position:absolute;
    display:block;
    max-width:97%;
    max-height:97%;
    left:-28.75%;
    top:55%;
    object-fit:contain;
}
.gaming-banner{
    background-image: url('./gamingbackground.jpg');
    background-repeat: no-repeat;
    background-position-y:38%;
}

.path-container{
    position:relative;
    background-color:#f0f0f0;
    padding: 0.5em 0em;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.45);
}

.path{
    position:relative;
    left:10%;
    display:inline-block;
    vertical-align:middle;
}

.add-title{
    background-image:url('./plus.png');
    background-repeat: no-repeat;
    background-position: center;
}

.input-container{
    position:relative;
    display:flex;
    justify-content:center;
}

.container .title-input{
    position:relative;
    display:flex;
    justify-content:space-evenly;
}
.search-title, .search-title:focus, .search-title:active{
    position:relative;
    display:inline-block;
    width:75%;
    border-radius:10px;
    outline:none;
    padding: 10px;
    border: 1px solid #d9d9d9;
}

.preview {
    border-bottom: 1px solid black;
    cursor:pointer;
}

.review-tag{
    background-color:rgb(32, 216, 57);
    color:white;
    padding: 2px;
}

.review-title:hover{
    color: #52527a;
}

.title-input .btn{
    background-color:#ff9966;
    font-weight: 600;
    color:white;
    border-radius:10px;
}

.fa-search{
    position:absolute;
    top:53%;
    font-size:1.2em;
    right:13.5%;
}
.container .title-input .fa-search{
    position:absolute;
    top:30%;
    font-size:1.15em;
    right:24%;
}

input[type='radio']{
    display:none;
}

.star-rating{
    transform:scale(1.2);
    margin-right:0.2em;
}